<nav>
    <ul>
        {% for link in site.nav_links %}
        <li class="nav-item{% if link.sub_links %} dropdown{% endif %}">
            <a href="{{ link.url | relative_url }}"
               class="nav-link{% if link.sub_links %} dropdown-toggle{% endif %}">
                {{ link.title }}
            </a>
            {% if link.sub_links %}
            <ul class="dropdown-menu">
                {% for sub_link in link.sub_links %}
                <li>
                    <a href="{{ sub_link.url | relative_url }}" class="dropdown-item">
                        {{ sub_link.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>